.but {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    cursor: pointer;
    &_payment {
        display: block;
        width: 230px;
        height: 57px;
        margin: 40px auto 0px auto;
    }
    &_center {
        display: block;
        margin: 0 auto;
    }
    &_consultation {
        position: absolute;
        display: block;
        margin-top: 35px;
        left: 50%;
        margin-left: -80px;
        margin-top: 35px;
    }
}

