.footer {
    min-height: 201px;
    background-color: #25333c;
    padding: 24px 0 36px 0;
    &__logo {
        display: flex;
        justify-content: space-between;
    }
    &__h2 {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 74px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
    }
    &__span {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: right;
    }
    &__phone {
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
    }
    &__devider {
        display: block;
        margin: 0 auto;
        height: 1px;
        opacity: 0.3;
        background-color: #fff;
        margin-top: 25px;
    }
    &__bottom {
        display: flex;
        margin-top: 25px;
    }
    &__scratch {
        opacity: 0.6;
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        &:hover {
            color: #fff;
        }
    }
    &__privacy-policy {
        color: $main-color;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        text-decoration: underline;
        &:hover {
            color: $main-color;
        }
    }
    &__author {
        opacity: 0.6;
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
    }
    &__logo-author {
        position: relative;
        top: -6px;
    }
}
.maps {
    min-height: 450px;
}